.form_list_wrapper {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.form_list_wrapper .MuiCard-root:not(:first-child) {
  margin-top: 1rem;
}
.form_list_wrapper .empty_wrapper {
  display: flex;
  margin-top: 5rem;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.connected_account {
  display: flex;
  align-items: center;
}
.connect_details {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.connect_details span {
  font-size: 11px;
  font-weight: 500;
  color: #525252;
}

.menu_connect {
  margin-left: auto;
}
