.header_menu {
   display: flex;
   /* flex-direction: column; */
   width: 100%;
   background: #f6f6f6;
   justify-content: space-between;
   align-items: center;
   padding: 8px 0;
   border-bottom: 1px solid #e8e4e4;
}

.logo_sections {
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   margin-left: 0.5rem;
}
.logo_sections span {
   margin-bottom: 2px;
   margin-top: 5px;
   font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
   font-weight: 500;
   font-size: 11px;
   text-transform: uppercase;
   color: #969696;
}

.header_logo {
   width: 100px;
   height: 32px;
}

.header_settings {
   margin-right: 1rem;
   cursor: pointer;
}
.header_settings:hover svg {
   filter: invert(60%);
}
