.insurer_side .insurer_icon img {
   width: 53px;
   height: 31px;
}

.insurer_list_header {
   border-bottom: 1px solid #c7c6ca;
}
.insurer_list_header span {
   font-size: 11px;
   font-weight: 500;
   margin-left: 4px;
}

.insurer_list_footer {
   display: flex;
   align-items: center;
   padding: 10px 8px;
   border-top: 1px solid #e3e4e6;
   background: #f8fafc;
}
.insurer_list_footer span {
   white-space: nowrap;
   font-size: 10px;
   font-weight: 500;
   text-transform: uppercase;
}

.insurer_icon {
   display: flex;
   align-items: center;
}
.insurer_icon span {
   margin-left: 5px;
}
