.maing_page {
  display: flex;
  height: 100%;
}

.insurer_side {
  border-right: 1px solid #c7c6ca;
}

.client_side {
  width: 30%;
  flex: 0 0 30%;
  background: #f5f5f5;
  border-right: 1px solid #c7c6ca;
}

.result_side {
  width: 100%;
  background: #f5f5f5;
}

.list_wrapper {
  overflow-y: auto;
  max-height: 350px;
  height: 350px;
}

.MuiList-padding {
  padding-top: 0 !important;
}

.header_section {
  height: 32px;
  display: flex;
  align-items: center;
  padding: 8px 5px;
  background: #eeebf0;
  border-bottom: 1px solid #c7c6ca;
}
