.result_list_header {
   justify-content: space-between;
}
.resul_banner {
   display: flex;
}

.result_list_header span {
   font-size: 11px;
   font-weight: 500;
   margin-left: 4px;
}

.result_list_footer {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   border-top: 1px solid #e3e4e6;
   background: #f8fafc;
}
.result_list_footer span {
   white-space: nowrap;
   font-size: 10px;
   font-weight: 500;
   text-transform: uppercase;
}

.main_result_list {
   padding: 10px;
   background: #f1f5f9;
   height: 100%;
}

.main_result_list .MuiPaper-root {
   background: #f4f1f8;
}
