.settings_page {
   display: flex;
   max-height: 340px;
   height: 340px;
}

.insurer_login_form {
   background: #f1f5f9;
   width: 100%;
}

.form_fields {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   padding: 1rem;
}

form {
   padding: 1rem;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.insurer_side_setting {
   flex: 0 0 30%;
}
.login_details {
   display: flex;
   align-items: center;
}

.login_details span {
   margin-left: 5px;
}
.selected_list {
   background: #dbdbdb !important;
}
